body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:593px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  position:absolute;
  left:94px;
  top:132px;
  width:363px;
  height:593px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:288px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u1876 {
  position:absolute;
  left:94px;
  top:159px;
  width:363px;
  height:1px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1878 {
  position:absolute;
  left:98px;
  top:139px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1880 {
  position:absolute;
  left:160px;
  top:139px;
  width:14px;
  height:15px;
  font-size:12px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:45px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1882 {
  position:absolute;
  left:94px;
  top:680px;
  width:363px;
  height:45px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:14px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1884 {
  position:absolute;
  left:111px;
  top:686px;
  width:33px;
  height:33px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1886 {
  position:absolute;
  left:259px;
  top:686px;
  width:33px;
  height:33px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1888 {
  position:absolute;
  left:407px;
  top:686px;
  width:33px;
  height:33px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u1890 {
  position:absolute;
  left:390px;
  top:139px;
  width:20px;
  height:14px;
  font-size:11px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1892 {
  position:absolute;
  left:420px;
  top:138px;
  width:29px;
  height:16px;
  font-size:12px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u1894 {
  position:absolute;
  left:111px;
  top:170px;
  width:12px;
  height:15px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u1896 {
  position:absolute;
  left:94px;
  top:199px;
  width:363px;
  height:1px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1898 {
  position:absolute;
  left:133px;
  top:167px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1900 {
  position:absolute;
  left:119px;
  top:220px;
  width:149px;
  height:150px;
  font-size:20px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:63px;
  width:145px;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1902 {
  position:absolute;
  left:286px;
  top:232px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u1904 {
  position:absolute;
  left:94px;
  top:398px;
  width:363px;
  height:1px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1906 {
  position:absolute;
  left:119px;
  top:424px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1908 {
  position:absolute;
  left:384px;
  top:426px;
  width:17px;
  height:20px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1910 {
  position:absolute;
  left:119px;
  top:471px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1912 {
  position:absolute;
  left:384px;
  top:473px;
  width:17px;
  height:20px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1914 {
  position:absolute;
  left:119px;
  top:517px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1916 {
  position:absolute;
  left:384px;
  top:519px;
  width:17px;
  height:20px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1918 {
  position:absolute;
  left:119px;
  top:564px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1920 {
  position:absolute;
  left:384px;
  top:566px;
  width:17px;
  height:20px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1922 {
  position:absolute;
  left:119px;
  top:611px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1924 {
  position:absolute;
  left:384px;
  top:613px;
  width:17px;
  height:20px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1926 {
  position:absolute;
  left:94px;
  top:74px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:19px;
}
#u1928 {
  position:absolute;
  left:259px;
  top:424px;
  width:297px;
  height:19px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:75px;
}
#u1930 {
  position:absolute;
  left:445px;
  top:418px;
  width:84px;
  height:75px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:30px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:484px;
  top:486px;
  width:29px;
  height:16px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:593px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:558px;
  top:132px;
  width:363px;
  height:593px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:288px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u1936 {
  position:absolute;
  left:558px;
  top:159px;
  width:363px;
  height:1px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1938 {
  position:absolute;
  left:562px;
  top:139px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1940 {
  position:absolute;
  left:624px;
  top:139px;
  width:14px;
  height:15px;
  font-size:12px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:45px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:558px;
  top:680px;
  width:363px;
  height:45px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:14px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1944 {
  position:absolute;
  left:575px;
  top:686px;
  width:33px;
  height:33px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1946 {
  position:absolute;
  left:723px;
  top:686px;
  width:33px;
  height:33px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1948 {
  position:absolute;
  left:871px;
  top:686px;
  width:33px;
  height:33px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u1950 {
  position:absolute;
  left:854px;
  top:139px;
  width:20px;
  height:14px;
  font-size:11px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1952 {
  position:absolute;
  left:884px;
  top:138px;
  width:29px;
  height:16px;
  font-size:12px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
}
#u1954 {
  position:absolute;
  left:575px;
  top:170px;
  width:12px;
  height:15px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u1956 {
  position:absolute;
  left:558px;
  top:199px;
  width:363px;
  height:1px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1958 {
  position:absolute;
  left:597px;
  top:167px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1960 {
  position:absolute;
  left:583px;
  top:220px;
  width:149px;
  height:150px;
  font-size:20px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:63px;
  width:145px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1962 {
  position:absolute;
  left:750px;
  top:232px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u1964 {
  position:absolute;
  left:558px;
  top:398px;
  width:363px;
  height:1px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1966 {
  position:absolute;
  left:583px;
  top:424px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1968 {
  position:absolute;
  left:848px;
  top:426px;
  width:17px;
  height:20px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1970 {
  position:absolute;
  left:583px;
  top:471px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1972 {
  position:absolute;
  left:848px;
  top:473px;
  width:17px;
  height:20px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1974 {
  position:absolute;
  left:583px;
  top:517px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1976 {
  position:absolute;
  left:848px;
  top:519px;
  width:17px;
  height:20px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1978 {
  position:absolute;
  left:583px;
  top:564px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1980 {
  position:absolute;
  left:848px;
  top:566px;
  width:17px;
  height:20px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1982 {
  position:absolute;
  left:583px;
  top:611px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1984 {
  position:absolute;
  left:848px;
  top:613px;
  width:17px;
  height:20px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1986 {
  position:absolute;
  left:558px;
  top:74px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:149px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:606px;
  top:362px;
  width:268px;
  height:149px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:66px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1990 {
  position:absolute;
  left:655px;
  top:399px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1992 {
  position:absolute;
  left:606px;
  top:456px;
  width:268px;
  height:1px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u1994 {
  position:absolute;
  left:739px;
  top:456px;
  width:1px;
  height:55px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1996 {
  position:absolute;
  left:655px;
  top:471px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u1998 {
  position:absolute;
  left:787px;
  top:471px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:170px;
}
#u2000 {
  position:absolute;
  left:988px;
  top:132px;
  width:363px;
  height:170px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:77px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2002 {
  position:absolute;
  left:1005px;
  top:164px;
  width:300px;
  height:128px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
